{% extends "_layout.twig" %}
{% block content %}

    <article>
        <!-- First Blog Start -->
        <div class="blog-item-wrap">
            <header class="entry-header">
                <p class="title-content">
                    {{post.title}}
                </p>
                <span class="ownby">Đăng bởi <span class="onwername">{{ post['user.display_name'] }}</span></span>
                <div class="social-info">
                    <span class="viewcount">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                        {{post.view_count}}
                        lượt xem
                    </span>

                    <span class="comment-count">
                        <i class="fa fa-comments" aria-hidden="true"></i>
                        <span class="fb-comments-count" data-href="http://thichmongdep.com/blog/posts/{{ post.id }}/{{ post.alias }}"></span>
                        bình luận
                    </span>    

                    <!-- Facebook like & count -->
                    <div class="fb-like" data-href="http://thichmongdep.com/blog/posts/{{ post.id }}/{{ post.alias }}" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>    
                </div>

                {#<div class="post-info">
                    <span><i class="fa fa-user" aria-hidden="true"></i> {{ post['user.display_name'] }}</span>
                    <span><i class="fa fa-calendar" aria-hidden="true"></i> {{ post.published_at | moment("DD-MM-YYYY") }}</span>
                </div>#}
            </header>

            <div class="content-detail">
                <img class="img-responsive" src="{{post.image}}" alt="">
            </div>

            <div class="fb-comments" xid="{{post.id}}" data-href="http://thichmongdep.com/blog/posts/{{ post.id }}/{{ post.alias }}" data-numposts="5"></div>
        </div>
        <!-- First Blog End -->    
    </article>
{% endblock %}
